@media only screen and (max-width: 992px) {
    header .h_right {
        transform: scale(.6);
    }
    header .h_right .balls li:nth-child(1) {
        left: 24rem;
    }
    header .h_right .balls li:nth-child(2) {
        left: 27rem;
    }
    header .h_right .balls li:nth-child(3) {
        left: 0rem;
    }
    header .h_left {
        margin-top: 5rem;
    }
    header .h_left .tagline {
        font-size: 40px;
    }
    header .h_left .tagline {
        width: 22rem;
        margin-top: 2rem;
    }
    header .h_right .balls li:nth-child(4) {
        left: 23rem;
    }
    header .navbar {
        margin-bottom: 0;
    }
    header .navbar .logo {
        font-size: 17px;
        text-align: center;
    }
    header .tagline {
        font-size: 41px;
    }
    #features .features .item p {
        margin-bottom: 4rem;
    }
    #features .screen .right .screen_desc {
        width: 21rem;
    }
    #features .screen {
        transform: scale(.8);
    }
    footer .f_navbar .social img {
        margin: 0 12px;
    }
    footer .f_navbar .social {
        justify-content: center !important;
    }
    footer .f_navbar .f_nav {
        margin: 5% 0;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .social {
        justify-content: flex-end !important;
        margin-top: 16px;
    }
    .social a {
        margin-right: 12px;
    }
    header .h_left .tagline {
        width: 100%;
        margin-bottom: 2rem;
    }
    header .h_left {
        text-align: center;
        margin-top: 0;
    }
    header .buttons {
        justify-content: center;
    }
    header .content {
        padding-bottom: 6rem;
    }
    #features .main_head {
        margin: 4rem 0;
    }
    #features .main_head h3 {
        margin-top: 0;
    }
    #features .left {
        transform: scale(.8);
        margin-left: -7rem;
    }
    #features .inversed {
        margin-left: 0;
    }
    #features .screen {
        transform: scale(.7);
    }
    #features .screen .right .screen_desc {
        width: 19rem;
    }
    #features .screen {
        margin-bottom: 0rem;
    }
    #download_app .how_phones img {
        margin-top: 6rem;
        width: 100%;
        height: auto;
    }
    #download_app .how h3 {
        font-size: 21px;
    }
    #download_app .how {
        position: relative;
        z-index: 1;
        margin: 16% 0;
    }
    #download_app .how p {
        width: 100%;
    }
    #download_app .how p {
        font-size: 15px;
    }
    footer .f_navbar .social img {
        margin: 0 12px;
    }
    footer .f_navbar .social {
        justify-content: center !important;
    }
}