body {
  font-family: 'Ubuntu', sans-serif;
}

body h3 {
  font-weight: bold;
  color: #648cff;
}

header {
  color: #fff;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

header .navbar {
  padding-top: 30px;
  margin-bottom: 100px;
}

header .navbar .logo {
  font-weight: bold;
  font-size: 24px;
}

header .nav {
  justify-content: space-around;
}

header .nav a {
  text-decoration: none;
  color: #d5d5d5;
}

header .nav a .active {
  color: #fff;
}

header .tagline {
  font-weight: bold;
  font-size: 60px;
  padding-top: 67px;
}

header .buttons {
  display: flex;
}

header .buttons .button_1,
header .buttons .button_2 {
  width: 158px;
  height: 52px;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  margin-top: 46px;
}

header .buttons a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

header .buttons .button_1 {
  margin-right: 12px;
  background: #fc6a42;
}

header .buttons .button_2 {
  background: #4466c9;
}

header .h_right {
  text-align: center;
}

header .h_right img {
  position: relative;
}

header .h_right .balls li {
  position: absolute;
  border-radius: 100%;
  list-style: none;
}

header .h_right .balls li:nth-child(1) {
  background-color: #fff;
  width: 58px;
  height: 58px;
  top: 7rem;
  left: 30rem;
  color: #6ca3ff;
}

header .h_right .balls li:nth-child(1) span {
  position: absolute;
  top: 22%;
  left: 41%;
  font-size: 20px;
}

header .h_right .balls li:nth-child(2) {
  background-color: #4466c9;
  width: 90px;
  height: 90px;
  top: 20rem;
  left: 33rem;
  color: #fff;
}

header .h_right .balls li:nth-child(2) span {
  position: absolute;
  top: 35%;
  left: 14%;
  font-size: 16px;
  font-weight: bold;
}

header .h_right .balls li:nth-child(3) {
  background-color: #fc6a42;
  width: 100px;
  height: 100px;
  top: 23rem;
  left: 0rem;
  color: #fff;
}

header .h_right .balls li:nth-child(3) span {
  position: absolute;
  top: 37%;
  left: 20%;
  font-size: 18px;
  font-weight: bold;
}

header .h_right .balls li:nth-child(4) {
  background-color: #fcec64;
  width: 55px;
  height: 55px;
  top: 36rem;
  left: 29rem;
  color: #4466c9;
}

header .h_right .balls li:nth-child(4) span {
  position: absolute;
  top: 26%;
  left: 22%;
  font-size: 18px;
  font-weight: bold;
}

header .wrapper {
  text-align: center;
}

header .wrapper .down {
  background-image: url("../img/Shape 1 copy.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  width: 54px;
  height: 53px;
  margin-top: 4rem;
}

#features .main_head {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 125px;
}

#features .main_head span {
  color: #b3b3b3;
}

#features .features .item {
  padding-left: 6rem;
  position: relative;
}

#features .features .item p {
  color: #b3b3b3;
  font-size: 16px;
}

#features .slider button {
  border: none;
  background-color: transparent;
}

#features .slider .slick-current {
  background-color: transparent;
}

#features .slider .slide img {
  width: 100%;
  height: auto;
  border-radius: 0;
  width: 44%;
}

#features .f1:before {
  content: '';
  position: absolute;
  background-image: url("../img/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 79px;
  height: 62px;
  left: -4px;
}

#features .f2:before {
  content: '';
  position: absolute;
  background-image: url("../img/icon1.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 79px;
  height: 62px;
  left: -4px;
}

#features .f3:before {
  content: '';
  position: absolute;
  background-image: url("../img/icon2.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 79px;
  height: 62px;
  left: -4px;
}

#features h3 {
  margin-top: 190px;
  text-align: center;
}

#features .screen {
  position: relative;
  margin-bottom: 27rem;
}

#features .screen .left img {
  position: absolute;
  z-index: -1;
}

#features .screen .left .bg_img {
  left: 11rem;
}

#features .screen .left .bubbles .bubble_1,
#features .screen .left .bubbles .bubble_2 {
  border-radius: 50%;
  position: absolute;
  width: 92px;
  height: 92px;
  color: #fff;
  text-align: center;
  line-height: 89px;
  font-weight: bold;
}

#features .screen .left .bubbles .bubble_1 {
  background: #fcec64;
  top: 13rem;
  left: 16rem;
  font-size: 18px;
}

#features .screen .left .bubbles .bubble_2 {
  background: #6ca3ff;
  top: 24rem;
  left: -3rem;
  font-size: 30px;
}

#features .screen .right {
  margin-top: 6rem;
}

#features .screen .right .screen_desc {
  margin-bottom: 3rem;
}

#features .screen .right .screen_desc h3 {
  margin: 3rem 0;
  text-align: left;
}

#features .screen .right .screen_desc p {
  font-size: 24px;
}

#features .screen .right .screen_desc .circles {
  position: relative;
  margin-top: 6rem;
}

#features .screen .right .screen_desc .circles .circle {
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 0px 18px 3px #f0f0f0;
  color: #b3b3b3;
  position: absolute;
  background: #fff;
}

#features .screen .right .screen_desc .circles .circle:nth-child(1) {
  left: 80px;
}

#features .screen .right .screen_desc .circles .circle:nth-child(2) {
  left: 30px;
}

#features .screen .right .screen_desc .circles .circle:nth-child(3) {
  left: -14px;
}

#features .screen2 img {
  z-index: 0;
}

#features .screen2 .left .bubbles .bubble_1 {
  background: #f2a14e;
}

#features .screen2 .left .bubbles .bubble_2 {
  background: #fc6a42;
}

#features .screen2 .right .sun {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #648cff;
}

#reviews .reviews_head {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 125px;
}

#reviews .reviews_head span {
  color: #b3b3b3;
}

#reviews .quote_right p,
#reviews .quote_left p {
  font-size: 24px;
  margin-top: 20px;
}

#reviews .quote_right .quote_1,
#reviews .quote_right .quote_2,
#reviews .quote_left .quote_1,
#reviews .quote_left .quote_2 {
  margin-bottom: 7rem;
}

#reviews .quote_right .quote_1 p:nth-child(3),
#reviews .quote_right .quote_2 p:nth-child(3),
#reviews .quote_left .quote_1 p:nth-child(3),
#reviews .quote_left .quote_2 p:nth-child(3) {
  font-size: 18px;
}

#reviews .quote_right .quote_1 img:nth-child(4),
#reviews .quote_right .quote_2 img:nth-child(4),
#reviews .quote_left .quote_1 img:nth-child(4),
#reviews .quote_left .quote_2 img:nth-child(4) {
  margin-left: 80%;
}

#download_app {
  background: #648cff;
}

#download_app .how {
  margin: 21% 0;
  color: #fff;
}

#download_app .how h3 {
  color: #fff;
}

#download_app .how p {
  font-size: 18px;
  margin: 2rem 0;
  width: 23rem;
}

#download_app .how .buttons {
  display: flex;
}

#download_app .how .buttons .button_1 {
  margin-right: 10px;
}

#download_app .how_phones img {
  margin-top: 4rem;
  width: 100%;
  height: 25rem;
}

footer {
  background: #353854;
}

footer .f_navbar {
  padding-top: 30px;
  margin-bottom: 100px;
}

footer .f_nav {
  justify-content: space-around;
  display: flex;
  list-style: none;
}

footer .f_nav a {
  text-decoration: none;
  color: #b3b3b3;
}

footer hr {
  color: #b3b3b3;
}

footer .rights {
  color: #888686;
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */